<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>video & chat</title>
    <link rel="stylesheet" href="style.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
    <script src="https://kit.fontawesome.com/1efb603250.js" crossorigin="anonymous"></script>

    <script>
        const ROOM_ID = "<%=roomId%>";

    </script>
</head>

<body>
    <!-- <h1>Hello Motherfuckers</h1> -->
    <!-- the below <%=roomId%> is the syntak to call an variable if you uncoment it you can see the value of roomId variable defined in the backend in you web page -->
    <!-- <%=roomId%>
     -->



    <div class="main">
        <div class="main_left">
            <div class="main_video">
                <div id="video-grid">

                </div>
            </div>
            <div class="main_controls">
                <div class="main_controls_block">
                    <div onclick="muteUnmute()" class="main_controls_button  main_mute_button">
                        <i style="height: 2rem;" class="fas fa-microphone-alt"></i>
                        <span>Mute</span>
                    </div>
                    <div onclick="playStop()" class="main_controls_button main_video_button">
                        <i style="height: 2rem;" class="fas fa-video"></i>
                        <span>Stop Video</span>
                    </div>
                </div>
                <div class="main_controls_block_right">
                    <div class="main_controls_button">
                        <i style="height: 2rem;" class="fas fa-shield-alt"></i>
                        <span>Security</span>
                    </div>
                    <div class="main_controls_button">
                        <i style="height: 2rem ; " class="fas fa-users"></i>
                        <span>Participants</span>
                    </div>
                    <div class="main_controls_button">
                        <i style="height: 2rem;" class="far fa-comment"></i>
                        <span>Chats</span>
                    </div>
                </div>
                <div class="leave">
                    <div class="Leave_button">
                        <button class="left">Leave Meeting</button>

                    </div>

                </div>

            </div>
        </div>
        <div class="main_right">
            <div class="main_header">
                <h5>CHAT</h5>
            </div>

            <div class="main_chat_window">
                <ul class="messages">

                </ul>
            </div>

            <div class="main_message_container">
                <input type="text" name="msg" id="message" placeholder="Type Your Message  Here">
            </div>
        </div>
    </div>


    <script src="script.js"></script>
    <!-- <script src="other.js"></script> -->
</body>

</html>